[submodule "emont-frenzy"]
	path = emont-frenzy
	url = git@github.com:Etheremon/emont-frenzy.git
[submodule "kaya"]
	path = kaya
	url = https://github.com/Zilliqa/kaya.git
[submodule "emont-frenzy-web"]
	path = emont-frenzy-web
	url = git@github.com:jarvis57/frenzy-web.git
